/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Montserrat+Alternates:wght@600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 165;
  --first-color: hsl(var(--hue), 60%, 40%);
  --title-color: hsl(var(--hue), 4%, 12%);
  --text-color: hsl(var(--hue), 4%, 20%);
  --body-color: hsl(var(--hue), 30%, 92%);
  --container-color: hsl(0, 0%, 100%);
  --border-color: hsl(var(--hue), 4%, 16%);
  --white-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 80%, 10%, 0.2);

  /*========== Font family ==========*/
  --body-font: 'Jost', sans-serif;
  --second-font: 'Montserrat Alternates', sans-serif;

  /*========== Font sizes ==========*/
  /* --big-font-size: 5.5rem; */
  --big-font-size: 4.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --larger-font-size: 1.125rem;
    --large-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.812rem;
  }
}

/*=============== DARK THEME ===============*/
.dark {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --body-color: hsl(var(--hue), 10%, 8%);
  --container-color: hsl(var(--hue), 10%, 16%);
  --border-color: hsl(var(--hue), 4%, 65%);
  --shadow-color: hsla(var(--hue), 0%, 100%, 0.2);
}
.dark .shape {
  filter: invert(1);
}


/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--hue), 20%, 65%) hsl(var(--hue), 20%, 85%);
}

body,
button,
input,
textarea {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.social-links {
  display: inline-flex;
  column-gap: 1.25rem;
}
.social-link {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  transition: color 0.7s var(--transition);
}
.social-link:hover {
  color: var(--first-color);
}

.section {
  padding-block: 7rem 3.5rem;
}

.btn,
.home-link {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  position: relative;
}

.btn {
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--shadow-color);
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  transition: color 0.7s var(--transition);
  z-index: 1;
}
.btn:hover {
  color: var(--white-color);
}
.btn::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--first-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  z-index: -10;
  transition: all 0.7s var(--transition);
}
.btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}
.section-title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 0.5rem;
}
.section-title::after {
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-family: var(--body-font);
  font-size: var(--large-font-size);
}
.link {
  display: inline-flex;
  align-items: center;
  column-gap: 1.25rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
}
.link-icon {
  color: var(--first-color);
  font-size: 1.25rem;
  transition: transform 0.3s var(--transition);
}
.link:hover .link-icon {
  transform: translateX(-0.5rem);
}
.section-deco {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--border-color);
  z-index: 1;
}
.deco-left {
  left: -72px;
}
.deco-right {
  right: -72px;
}
.section-deco::before,
.section-deco::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--shadow-color);
}
.section-deco::before {
  top: 0;
  transform: translate(-50%, -100%);
}
.section-deco::after {
  bottom: 0;
  transform: translate(-50%, 100%);
}
.section-deco .shape {
  max-width: 226px;
  height: 226px;
  bottom: -206px;
}
.deco-left .shape {
  left: -166px;
}
.deco-right .shape {
  right: -166px;
}
/* .section:nth-child(odd) {
  background-color: linear-gradient(0deg, var(--container-color) 0%, var(--body-color)100%);
}
.section:nth-child(even) {
  background-color: linear-gradient(180deg, var(--container-color) 0%, var(--body-color)100%);
} */
/*=============== LAYOUT ===============*/
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  position: relative;
}
.container:not(.nav, .home-container) {
  padding-block: 3.75rem;
}

.grid {
  display: grid;
}

/*=============== HEADER & NAV ===============*/
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: 1540px;
}
.nav-logo,
.nav-link {
  color: var(--title-color);
  font-weight: var(--font-bold);
}
.nav-logo {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
}
.nav-buttons {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
}
.nav-settings,
.nav-toggle {
  cursor: pointer;
}
.nav-settings {
  font-size: 1.5rem;
}
.nav-toggle {
  width: 28px;
  height: 28px;
  position: relative;
}
.nav-toggle::before,
.nav-toggle::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  transition: all 0.7s var(--transition);
}
.nav-toggle::before {
  top: 7px;
}
.nav-toggle::after {
  bottom: 7px;
}
.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--container-color);
  width: 512px;
  height: 100%;
  padding: 9rem 0 0 9.5rem;
  transition: right 1s var(--transition);
  overflow: hidden;
}
.nav-list {
  margin-bottom: 2.5rem;
}
.nav-item {
  margin-bottom: 1.25rem;
}
.nav-link {
  font-size: var(--large-font-size);
  transition: color 0.3s --transition;
}
.nav-link:hover {
  color: var(--first-color);
}
.header-deco {
  height: 70%;
  top: 128px;
  left: 75px;
}
.header-deco .shape {
  top: -210px;
  left: -168px;
}

/* Show menu */
.show-menu {
  right: 0;
}
.animate-toggle::before {
  transform:rotate(45deg);
  top: 14px;
}
.animate-toggle::after {
  transform:rotate(-45deg);
  bottom: 12px;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.bg-header {
  background-color: var(--container-color);
}


/*=============== MAIN ===============*/
.main {
  overflow: hidden;
}

/*=============== HOME ===============*/
.home-container {
  display: none;
  margin: 0;
}

.card {
  position: relative;
  background-color: var(--container-color);
  /* background-color: var(--container-color); */
  padding: 2rem 2.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card::before {
  content: '';
  position: absolute;
  right: -1.5rem;
  bottom: -1.5rem;
  width: 120px;
  height: 120px;
  background-image: url(../img/shape-3.png);
  background-size: cover;
}




/*=============== WORK ===============*/
.work {
  background-color: var(--body-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem 2.5rem;
  margin-bottom: 3.75rem;
}
.work-item {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
  position: relative;
  transition: color 0.7s var(--transition);
}
.work-item:hover {
  color: var(--first-color);
}
.work-item::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: width 0.3s var(--transition);
}
.work-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.work-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.work-category {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
}
.work-title {
  font-size: var(--h3-font-size);
  margin-block: 0.75rem 1.75rem;
}
.work-description {
  min-height: 125px;
}
.work-btn {
  text-align: center;
  margin-top: 2.5rem;
}

/* Active work */
.active-work {
  color: var(--first-color);
}
.active-work::before {
  width: 60%;
}




/*=============== FOOTER ===============*/
.footer {
  border-top: 1px solid var(--shadow-color);
  background-color: var(--container-color);
  /* padding-block: 2rem; */
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-copyright {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
}
.footer-copyright span {
  color: var(--first-color);
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--first-color);
  border-radius: .5rem;
  transition: .5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 4px 4px var(--shadow-color);
}
.footer-iconTop a i {
  color: var(--body-color);
  font-size: var(--large-font-size);
  font-weight: var(--font-bold);
}




/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .work-container {
    grid-template-columns: repeat(2, fit-content(434px));
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding-block: 6rem 1rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .nav-menu,
  .style-switcher {
    width: 100%;
  }
  .work-list {
    column-gap: 2rem;
  }
  .work-container {
    grid-template-columns: fit-content(420px);
  }
  .footer-container {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-inline: 1.25rem;
  }
}

/* For small devices */
@media screen and (max-width: 400px) {
  .card {
    padding-inline: 2rem;
  }
}
